* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 20px;
    background-color: cadetblue;
}

img {
    width: 25%;
    height: auto;
    margin: 10px 15px;
}

img:hover {
    width: 40%;
    height: auto;
    margin: 10px 15px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    flex-flow: column nowrap;
}

.login {
    height: 10vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.btn {
    background-color: #f0a575;
    padding: 10px;
    margin: 2% 0;
    border-radius: 5px;
}

.input {
    margin: 10px 0;
    width: 15%;
    height: 55%;
    border-radius: 5px;
}

.input:focus {
    border: 2px dotted #555;
}

.label-login {
    padding: 10px;
}
